@use "sass:map";

@use "breaks";

.wp-block-table.oc-smart-table,
figure[data-oc-smart-table="true"] {
  table {
    display: none;
  }
}



ul.oc-smart-table-container {
  display: block;

  list-style-type: none;

  padding-inline: 0;
  margin-block: 0;

  & > li > ul {
    padding-inline: 0;
    margin-block: 0;

    list-style-type: none;
    margin-top: 0.5em;
  }
}

@media (min-width: map.get(breaks.$basic-breakpoints, sm)) {
  .wp-block-table.oc-smart-table,
  figure[data-oc-smart-table="true"] {
    table {
      display: table;
    }
  }
  ul.oc-smart-table-container {
    display: none;
  }
}

// vi: se ts=2 sw=2 et:
